<style>
  .hm {
    background-image: url('assets/img/welcome.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 2500px;
  }
</style>

<app-navbar></app-navbar>

<div class="hm">

  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <div class="card input-group-addon">
        <div class="card-body">

          <!-- Title -->
          <h3 class="text-center text-primary">
            Change Password
          </h3>

          <!-- Success Message -->
          <div *ngIf="!form.error && form.message"
               class="alert alert-success text-center">
            {{ form.message }}
          </div>

          <!-- Error Message -->
          <div *ngIf="form.error && form.message"
               class="alert alert-danger text-center">
            {{ form.message }}
          </div>

          <!-- Old Password -->
          <span><b>Old Password</b> <span style="color:red">*</span></span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-lock"></i>
              </div>
            </div>
            <input type="password" class="form-control"
                   name="oldPassword"
                   [(ngModel)]="form.data.oldPassword"
                   placeholder="Enter Old Password">
          </div>
          <small class="text-danger">{{ form.inputerror.oldPassword }}</small>

          <!-- New Password -->
          <span class="mt-2 d-block"><b>New Password</b> <span style="color:red">*</span></span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-key"></i>
              </div>
            </div>
            <input type="password" class="form-control"
                   name="newPassword"
                   [(ngModel)]="form.data.newPassword"
                   placeholder="Enter New Password">
          </div>
          <small class="text-danger">{{ form.inputerror.newPassword }}</small>

          <!-- Button -->
          <div class="text-center mt-3">

            <button class="btn btn-success btn-md"
                    (click)="changePassword()">
              Change Password
            </button>

          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4"></div>
  </div>

</div>

<app-footer></app-footer>