<style>
  .hm {
    background-image: url('assets/img/welcome.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 50px;
  }

  .card-style {
    box-shadow: 9px 8px 7px #001a33;
  }
</style>

<app-navbar></app-navbar>

<div class="hm">
  <div class="row pt-3">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <div class="card card-style">
        <div class="card-body">

          <!-- Title -->
          <h3 class="text-center text-primary" *ngIf="!form.data.id">
            Add Health Check
          </h3>

          <h3 class="text-center text-primary" *ngIf="form.data.id > 0">
            Update Health Check
          </h3>

          <!-- Success Message -->
          <div *ngIf="!form.error && form.message" class="alert alert-success">
            {{ form.message }}
          </div>

          <!-- Error Message -->
          <div *ngIf="form.error && form.message" class="alert alert-danger">
            {{ form.message }}
          </div>

          <!-- Health Code -->
          <span><b>Health Code</b> <span style="color:red">*</span></span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-code"></i>
              </div>
            </div>
            <input type="text" class="form-control"
              [(ngModel)]="form.data.healthCode"
              name="healthCode"
              placeholder="Enter Health Code">
          </div>
          <font color="red">{{ form.inputerror.healthCode }}</font>

          <!-- Service Name -->
          <span><b>Service Name</b> <span style="color:red">*</span></span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-cogs"></i>
              </div>
            </div>
            <input type="text" class="form-control"
              [(ngModel)]="form.data.servicename"
              name="servicename"
              placeholder="Enter Service Name">
          </div>
          <font color="red">{{ form.inputerror.servicename }}</font>

          <!-- Uptime -->
          <span><b>Uptime</b> <span style="color:red">*</span></span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-clock"></i>
              </div>
            </div>
            <input type="text" class="form-control"
              [(ngModel)]="form.data.uptime"
              name="uptime"
              placeholder="Enter Uptime (e.g. 24h)">
          </div>
          <font color="red">{{ form.inputerror.uptime }}</font>

          <!-- Status -->
          <span><b>Status</b> <span style="color:red">*</span></span>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-toggle-on"></i>
              </div>
            </div>
            <select class="form-control"
              [(ngModel)]="form.data.status"
              name="status">
              <option value="">--Select--</option>
              <option value="UP">UP</option>
              <option value="DOWN">DOWN</option>
            </select>
          </div>
          <font color="red">{{ form.inputerror.status }}</font>

          <!-- Buttons -->
          <div class="text-center mt-3">
            <button class="btn btn-success" (click)="submit()">
              Save
            </button>

            <button class="btn btn-warning ml-2"
              (click)="forward('/HealthCheckList')">
              List
            </button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4"></div>
  </div>
</div>

<app-footer></app-footer>